@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');


#logo {
    font-family: "Asul", sans-serif;
    font-size: 70px;
    padding-right: 50px;
    color: #EDA115;
}

.btn {
    background-color: #EDA115
}

body {
    
    font-family: "Asul", sans-serif;
    color: #EDA115;
   
}

footer {
    background-color: #000000;
    opacity: 50%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-networks {
    text-align: center;
    list-style-type: none;
}
.social-networks li {
    
    text-align: center;
    display: inline-block;
}
.social-networks i {
    font-size: 100%;
    color:#EDA115;
    text-align: left;
    display: inline-block;
   
}
