@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');


#logo {
    font-family: "Asul", sans-serif;
    font-size: 70px;
    padding-right: 50px;
    color: #54053b;
}

.btn {
    background-color: #54053b;
    opacity: 90%;
    color: #ffffff;
}

body {
    
    font-family: "Asul", sans-serif;
    color: #54053b;
   
}

#game-container {
    
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    
}

footer {
    background-color: #54053b;
    opacity: 90%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-networks {
    text-align: center;
    list-style-type: none;
}
.social-networks li {
    
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}
.social-networks i {
    font-size: 100%;
    color: #ffffff;
    text-align: left;
   
}
