@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');

#logo {
    font-family: "Asul", sans-serif;
    font-size: 70px;
    padding-right: 50px;
    color: #730851;
}

.btn {
    background-color: #730851;
    opacity: 90%;
    color: #ffffff;
}

body {
    
    font-family: "Asul", sans-serif;
    color: #ffffff;
    background: url(https://wallpaperaccess.com/full/973179.jpg) no-repeat center fixed;
    background-size: cover;
}

#game-container {
    
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 60px;
}



footer {
    background-color: #54053b;
    opacity: 90%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-networks {
    text-align: left;
    list-style-type: none;
}
.social-networks li {
    
    text-align: left;
    display: inline-block;
    margin-top: 10px;
}
.social-networks i {
    font-size: 100%;
    color: #ffffff;
    text-align: left;
   
}

/* https://getflywheel.com/layout/css-breakpoints-responsive-design-how-to/ */
@media screen and (max-width: 600px) {
    #logo {
        font-size: 20px;
        display: table;
        vertical-align: middle;
        text-align: center;
    }
 #game-container p {
     font-size: 50%;
 }
 footer {
     text-align: center;
 }
}


@media only screen and (min-width: 768px)